In [20]:
import datetime 
from binance import Client
import pandas as pd

In [21]:
#client = Client(api_key, api_secret) # api_key and api_secret is optional parameter
client = Client()

In [15]:
klines=client.get_historical_klines(symbol="BTCUSDT",interval="1d",start_str="2022,1,1",end_str="2022,1,1")

In [16]:
klines

[[1640995200000,
  '46216.93000000',
  '47954.63000000',
  '46208.37000000',
  '47722.65000000',
  '19604.46325000',
  1641081599999,
  '924155159.58348650',
  714899,
  '9942.36679000',
  '468738711.79010650',
  '0']]

In [17]:
col=["datetime","open","high","low","close","volume","Close_time","Quote_asset_volume","Number_of_trades","Taker_buy_base_asset_volume","Taker_buy_quote_asset_volume","Ignore"]
df=pd.DataFrame(klines,columns=col)
df

,datetime,open,high,low,close,volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1640995200000,46216.93000000,47954.63000000,46208.37000000,47722.65000000,19604.46325000,1641081599999,924155159.58348650,714899,9942.36679000,468738711.79010650,0

In [18]:
def historical_ohlcv(Symbol,timeFrame,start_date=(2018,1,1),end_date=(2022,12,31),want_csv=False):
    """
    Kline/Candlestick chart intervals:
    m -> minutes; h -> hours; d -> days; w -> weeks; M -> months
    1m 3m 5m 15m 30m 1h 2h 4h 6h 8h 12h 1d 3d 1w 1M

    """
    col=["datetime","open","high","low","close","volume","Close_time","Quote_asset_volume","Number_of_trades","Taker_buy_base_asset_volume","Taker_buy_quote_asset_volume","Ignore"]
    x=datetime.datetime(start_date[0],start_date[1],start_date[2]).timestamp()
    y=datetime.datetime(end_date[0],end_date[1],end_date[2]).timestamp()
    z=client.get_historical_klines(str(Symbol),interval=str(timeFrame),start_str=str(x),end_str=str(y))
    df=pd.DataFrame(z,columns=col)
    df.set_index(["datetime"],inplace=True)
    df.index=pd.to_datetime(df.index,unit="ms")
    df["open"]=df["open"].astype("float64")
    df["high"]=df["high"].astype("float64")
    df["low"]=df["low"].astype("float64")
    df["close"]=df["close"].astype("float64")
    df["volume"]=df["volume"].astype("float64")
    df=df[["open","high","low","close","volume"]]
    if want_csv is True :
        df.to_csv("{}_{}.csv".format(Symbol,timeFrame))
    return df

In [19]:
df=historical_ohlcv("ETHUSDT","1d",start_date=(2022,1,1),end_date=(2022,1,5),want_csv=True)
df

               open     high      low    close       volume
datetime
2022-01-01  3676.22  3776.45  3673.46  3765.54  154143.8968
2022-01-02  3765.54  3857.44  3717.30  3828.27  154791.4263
2022-01-03  3828.11  3853.09  3680.00  3765.89  236245.8586
2022-01-04  3765.89  3900.73  3713.11  3785.11  288258.5549
2022-01-05  3785.10  3848.00  3415.00  3540.63  397942.0363